<header class="l-header">
    <ul class="top-menu disable-link-styles">
        <li class="logo-small-container">
            <a class="v-center-block-parent">
                <img class="v-center-block logo-small angular-university-logo"
                     src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
            </a>
        </li>
        <li>
            <a routerLink="/lessons">Lessons</a>
        </li>
        <li *rbacAllow="['ADMIN']">
            <a routerLink="/admin">Admin</a>
        </li>
      
  <!-- isLoggedOut$ is an Observable<boolean> so, if a true is shoved (.next) into the stream then
       the expression will evaluate to true and the *ngIf will create the DOM node correspongind to <li element 
       The async pipe below is how we subscibe to an observable and gets a value from the stream inside a template (.html) -->
        <li *ngIf="isLoggedOut$ | async">
            <a routerLink="/signup">Sign Up</a>
        </li>
        <li *ngIf="isLoggedOut$ | async">
            <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isLoggedIn$ | async" (click)="logout()">
            <a>Logout</a>
        </li>
    </ul>
</header>

<main>

    <div class="course-header">
        <h3>Angular Security MasterClass</h3>
        <img class="course-logo"
             src="https://s3-us-west-1.amazonaws.com/angular-university/course-images/angular-security-thumbnail.png">
      
<!-- Similarly here if the user$ observable stream gets some data that resolves to truthy then the <ng-container will
     be created. If it resolves to false then it won't
-->
        <ng-container *ngIf="(user$ | async) as user">

            <h4 class="user-email" *ngIf="user.email">{{user.email}}</h4>

        </ng-container>

    </div>

    <router-outlet></router-outlet>

</main>





